# Add custome page for 404 error
ErrorDocument 404 /404.html

# Deny access to all dot files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to all files starting with a dot in all root directories
RewriteRule ^/?\. - [F,L]