ErrorDocument 404 /pages-404.html
ErrorDocument 500 /pages-500.html

# Deny access to all dot files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to all files starting with a dot in all root directories
RewriteRule ^/?\. - [F,L]